<div class="jumbotron">
	<h1>About Us</h1>
	<p>I am working on my one month rails pinteresting app.</p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Stacey Ferreira</h3>
        <p>This is all about Stacey.</p>
        <p><a href="http://www.staceyferreira.com" class="btn btn-primary" role="button">Website</a> <a href="#" class="btn btn-default" role="button">LinkedIn</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Stacey Ferreira</h3>
        <p>This is all about Stacey.</p>
        <p><a href="#" class="btn btn-primary" role="button">Website</a> <a href="#" class="btn btn-default" role="button">LinkedIn</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Stacey Ferreira</h3>
        <p>This is all about Stacey.</p>
        <p><a href="#" class="btn btn-primary" role="button">Website</a> <a href="#" class="btn btn-default" role="button">LinkedIn</a></p>
      </div>
    </div>
  </div>
</div>